</br></br>

<div class="row">
<h2 class="small-12 columns">Name: <%= @name %></h2>
</div>

<div class="row">
<div class="small-6 large-3 columns">Price: $<%= @price %></div>
<div class="small-6 large-3 columns">Morningstar Rating: <%= @morningstar_rating %></div>
</div>

<div class="row">
<div class="small-6  large-3 columns">Total Assets: <%= @total_assets %></div>
<div class="small-6  large-3 columns">Category: <%= @category %></div>
<div class="small-6  large-3 columns">Expense Ratio: <%= @expense_ratio %></div>
<div class="small-6  large-3 columns">Five year average return: <%= @five_yr_return %></div>
</div>

<div class="row">
<div class="small-6 large-3 columns">Rank in category: <%= @rank_in_category %></div>
<div class="small-6 large-3 columns">Percent rank in category: <%= @percent_rank_in_category %></div>
<div class="small-6 large-3 columns">Three year beta: <%= @three_yr_beta %></div>
<div class="small-6 large-3 columns">Morningstar Risk Rating: <%= @morningstar_risk_rating %></div>
</div>

<div class="row">
<div class=" small-12 large-12 columns">Description: <%= @description %></div>
</div>

